.sidebar_container {
  width: 11rem;
  color: white;
  height: 94vh;
  // min-height: calc(100vh - 70px);
  background-color:  rgb(18, 29, 51);
  font-size: 20px;

  .sidebar_items {
    height: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}