@mixin convent_px_to_rem($px) {
  $base: 16;
  height: #{ $px / $base }rem;
}

.dashboard_container {
  height: 94vh;
  
  .dashboard_item1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 31.5vh;
    div {
      border: 1px solid blue;
    }
  }

  .dashboard_item2 {
    display: flex;
    height: 62vh;
    border: 1px solid purple;
  }
}